

<form 
    hx-post="{% url 'home_page' %}"
    hx-swap="outerHTML"
    hx-target="this"
    hx-include="[name='value']"
>
    <div class="h-32 space-y-4">
        <div id="tweet" class="text-center mt-6">{{tweet.text}}</div>
        <div id="url" class="text-center text-xs">ver tweet: <a target="_blank" href="{{tweet.tweet_url}}">{{tweet.tweet_url}}</a></div>
    </div>

    {% csrf_token %}
    {{ form.non_field_errors }}
    

    <div class="flex space-x-4 justify-center">
        <input type="hidden" name="tweet_id" value="{{tweet.id}}">
        <input id="hiddenValue" type="hidden" name="value" value="Yes">
        <input 
            onclick="setLoading()"
            id="yes"
            type="submit"
            name="value"
            value="Yes"
            class="transform hover:scale-110 transition duration-150 ease-in-out shadow-md flex font-bold mx-auto mt-8 border py-2 px-8 focus:outline-none hover:bg-green-200 bg-green-300 rounded text-xs cursor-pointer"
        >
        <input
            onclick="setLoading()"
            type="submit"
            name="value"
            value="No"
            class="transform hover:scale-110 transition duration-150 ease-in-out shadow-md flex font-bold mx-auto mt-8 border py-2 px-8 focus:outline-none hover:bg-red-200 bg-red-300 rounded text-xs cursor-pointer"
        >
        <input
            onclick="setLoading()"
            type="submit"
            name="value"
            value="Skip"
            class="transform hover:scale-110 transition duration-150 ease-in-out shadow-md flex font-bold mx-auto mt-8 border py-2 px-8 focus:outline-none hover:bg-gray-100 rounded text-xs cursor-pointer"
        >
    </div>
</form>


<script type="text/javascript">
    function setLoading() {
        const value = event.target.value
        document.getElementById("hiddenValue").value = value;

        document.getElementById("tweet").innerHTML = "Loading...";
        document.getElementById("url").innerHTML = "";
    }
</script>