[flake8]
# E231 missing whitespace after ','
# W503 line break before binary operator
ignore = E231,W503
exclude = node_modules,infra
# 'black' formats lines up to 88 characters, but sometimes it can't wrap lines.
# We allow longer lines for those cases.
max-line-length = 120
max-complexity = 10
